<div style="text-align:center">
  <h2>
    About Us
  </h2>
</div>


<div>
  <div class="col-md-5 float-left">
    <img src="assets/alcohol/alco4.jpg" alt="alco4" class="img-thumbnail rounded float-left">
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus enim quam, dignissim sit amet magna ut, pulvinar
    tempus lorem.
    Phasellus aliquam diam ullamcorper facilisis ultrices. Donec ultrices, ipsum eget commodo sollicitudin, metus augue
    blandit velit,
    eget viverra mi odio vel nisi. Phasellus aliquet nibh et nisl luctus, consectetur placerat lacus rhoncus. Fusce ut
    elementum libero.
  </p>
  <p>Phasellus vel nunc quis mauris feugiat accumsan. Suspendisse quis odio quis magna cursus tincidunt.</p>
  <p>Suspendisse purus nisi, finibus ullamcorper posuere a, feugiat pulvinar erat. Donec dignissim fermentum ultrices.
    Integer tellus orci, congue eu volutpat non, pulvinar eu quam. Vivamus vel eros et purus molestie ultrices eget et
    felis. Quisque ac hendrerit turpis. Vivamus in elit sit amet elit condimentum finibus. Cras faucibus lobortis nibh
    quis bibendum. Fusce vel enim quam. Cras laoreet nisi id ligula ultrices dictum. Fusce nec augue interdum, tristique
    quam quis, tempus felis. Phasellus quis mollis lorem.</p>
  <p>Suspendisse purus nisi, finibus ullamcorper posuere a, feugiat pulvinar erat. Donec dignissim fermentum ultrices.
    Integer tellus orci, congue eu volutpat non, pulvinar eu quam. Vivamus vel eros et purus molestie ultrices eget et
    felis. Quisque ac hendrerit turpis. Vivamus in elit sit amet elit condimentum finibus. Cras faucibus lobortis nibh
    quis bibendum. Fusce vel enim quam. Cras laoreet nisi id ligula ultrices dictum. Fusce nec augue interdum, tristique
    quam quis, tempus felis. Phasellus quis mollis lorem.
    Praesent in mollis enim. Nunc sapien risus, accumsan id diam at, placerat gravida arcu. Phasellus felis elit,
    blandit ac eleifend vitae, rhoncus non dolor. Phasellus lacinia dolor lorem, non pellentesque ex mattis vitae. Nulla
    facilisi. Fusce sit amet ex vel dolor tempor pretium. Praesent risus nulla, sollicitudin non metus a, posuere
    vehicula risus. Pellentesque nec molestie ipsum, vel consequat metus. Nullam ornare sapien faucibus vulputate
    pharetra. Aliquam quis felis sagittis ipsum congue ullamcorper eget id purus. Curabitur hendrerit vehicula mauris
    vitae tristique. Vivamus molestie interdum risus, quis pulvinar magna facilisis quis. Nunc quis arcu ex. Duis a
    lorem auctor magna lobortis vehicula. Etiam auctor nulla ut augue tincidunt, et mattis dolor sodales.</p>
  <div>
    <div class="col-md-4 float-right">
      <img src="assets/alcohol/alco5.jpg" alt="alco5" class="img-thumbnail rounded float-right">
    </div>
    <div class="pull-left">
      <p>Donec dui urna, mattis sit amet purus ut, pharetra elementum elit. Pellentesque pretium risus eu nisl
        tincidunt,
        a placerat sapien iaculis. Nulla euismod nulla enim, nec lobortis purus gravida nec. Donec non leo non lectus
        mattis suscipit. Morbi nulla neque, volutpat fringilla turpis at, ultrices iaculis eros. Donec ullamcorper magna
        tortor, sit amet posuere eros porttitor eu. Curabitur eleifend lacus a purus consequat pharetra. Vestibulum
        molestie dui fermentum, tempus nibh eu, bibendum ante. Quisque lacinia elementum rutrum.
      </p>
      <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur sem
        tellus, tempor sed felis ut, rutrum mollis tellus. Nunc dapibus velit id lobortis hendrerit. Nunc est sapien,
        sodales eget nibh vel, condimentum feugiat nunc. In quis justo ut metus rhoncus lacinia. Nulla odio ligula,
        vulputate sed erat ac, ultricies aliquam nisl. Cras eu lacus sed sem euismod luctus nec vel nunc. Nunc justo
        dolor, ultrices eu turpis quis, condimentum euismod libero.
      </p>
    </div>
  </div>


  <div>
    <div>
      <p>Donec dui urna, mattis sit amet purus ut, pharetra elementum elit. Pellentesque pretium risus eu nisl
        tincidunt, a
        placerat sapien iaculis. Nulla euismod nulla enim, nec lobortis purus gravida nec. Donec non leo non lectus
        mattis
        suscipit. Morbi nulla neque, volutpat fringilla turpis at, ultrices iaculis eros. Donec ullamcorper magna
        tortor,
        sit amet posuere eros porttitor eu. Curabitur eleifend lacus a purus consequat pharetra. Vestibulum molestie dui
        fermentum, tempus nibh eu, bibendum ante. Quisque lacinia elementum rutrum.

        Maecenas tortor ipsum, egestas nec enim ac, rhoncus congue leo. Etiam molestie dolor quis ornare elementum.
        Curabitur finibus quis risus vitae venenatis. Vivamus egestas elit ullamcorper dolor sagittis, vitae rutrum
        massa pretium. Morbi commodo congue scelerisque. In a ipsum condimentum massa feugiat viverra non at erat. Nunc
        ligula ex, sollicitudin nec neque sed, sollicitudin bibendum odio. Nulla scelerisque rutrum nisl eu rhoncus.
        Duis felis risus, interdum tincidunt rhoncus mollis, dictum eget turpis. Ut vitae ante vestibulum, ornare dolor
        vel, pretium augue. Suspendisse velit mi, feugiat quis leo eget, tristique tincidunt lorem. Vestibulum ante
        ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
      </p>
      <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur sem
        tellus,
        tempor sed felis ut, rutrum mollis tellus. Nunc dapibus velit id lobortis hendrerit. Nunc est sapien, sodales
        eget
        nibh vel, condimentum feugiat nunc. In quis justo ut metus rhoncus lacinia. Nulla odio ligula, vulputate sed
        erat
        ac, ultricies aliquam nisl. Cras eu lacus sed sem euismod luctus nec vel nunc. Nunc justo dolor, ultrices eu
        turpis
        quis, condimentum euismod libero.
      </p>
    </div>
    <p>
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur sem
      tellus,
      tempor sed felis ut, rutrum mollis tellus. Nunc dapibus velit id lobortis hendrerit. Nunc est sapien, sodales eget
      nibh vel, condimentum feugiat nunc. In quis justo ut metus rhoncus lacinia. Nulla odio ligula, vulputate sed erat
      ac, ultricies aliquam nisl. Cras eu lacus sed sem euismod luctus nec vel nunc. Nunc justo dolor, ultrices eu
      turpis
      quis, condimentum euismod libero.
    </p>
    <p>
      Fusce condimentum, leo ut congue sagittis, eros erat luctus neque, in faucibus risus erat vitae nisl. Donec in
      interdum sem, quis volutpat lorem. Aenean pulvinar consectetur ex sit amet sodales. Morbi aliquet nulla sit amet
      lectus aliquet auctor. Duis lacinia hendrerit tellus, sit amet condimentum nibh imperdiet mattis. Praesent tempor
      ex id posuere dictum. Nullam a erat eu mi sagittis faucibus. Donec pulvinar interdum augue. Aenean ut turpis
      hendrerit, bibendum lorem vitae, mattis leo.

      Integer lectus erat, accumsan nec mauris eget, condimentum blandit quam. Duis eu felis lacus. Mauris placerat,
      sapien euismod efficitur fringilla, justo metus auctor felis, a venenatis elit augue quis enim. Duis egestas
      dictum nibh ultricies eleifend. Donec gravida commodo congue. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Sed nec lobortis quam. Aliquam risus nunc, tincidunt a porttitor in, elementum sed urna. Pellentesque ac
      massa odio. Suspendisse rhoncus, leo at varius porta, magna dui iaculis risus, at auctor magna lacus sed nunc.
      Quisque non nisl ex.
    </p>
  </div>
  <div>
    <div class="col-md-4 float-left">
      <img src="assets/alcohol/alco6.jpg" alt="alco6" class="img-thumbnail float-left">
    </div>
    <div class="pull-left">
      Mauris consequat at lacus luctus euismod. Praesent faucibus urna purus, et sodales dui elementum eget.
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus eu urna
      venenatis, commodo libero eget, imperdiet magna. Mauris ut est varius, placerat tortor eget, ornare purus. Aliquam
      vitae ex vitae lacus aliquet blandit sit amet ut dolor. Ut pulvinar malesuada lectus ut placerat. Sed sed faucibus
      nisl, ac lobortis augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras malesuada ultrices
      pharetra. Ut luctus nibh non auctor lacinia. Ut ut justo a elit mollis interdum eget in sapien. Fusce dignissim
      diam eget pulvinar dictum. Nam facilisis, lacus ac accumsan pharetra, justo turpis venenatis ligula, maximus
      mollis tellus metus sed diam.

      Nam a dui ultricies, mollis nunc id, sodales neque. Duis dapibus cursus metus. Sed semper risus et nunc maximus
      pulvinar. Donec non nunc justo. Mauris condimentum nisl sit amet elementum vehicula. Cras tincidunt elit non ante
      posuere vulputate. Vestibulum ultrices, mi sed condimentum efficitur, odio nisl ornare ligula, at tristique ligula
      tellus eget lorem. Curabitur fermentum vehicula erat ut lacinia. Donec vehicula felis non lectus suscipit
      vulputate. In tempus pulvinar felis. Proin in lobortis metus. Suspendisse ut eros placerat, scelerisque nisi eu,
      posuere dui.
    </div>
  </div>

</div>
