<h2>Company list</h2>

<button type="button" class="btn btn-primary" (click)="open(addModal)">
  <span class="fas fa-plus"> Add</span>
</button>
<table class="table border">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Boss Surname</th>
    <th scope="col">Country</th>
    <th scope="col">City</th>
    <th scope="col">Post Code</th>
    <th scope="col">Preferred Contact Method</th>
    <th scope="col">Contact number</th>
    <th scope="col">Mail</th>
    <th scope="col">Date From</th>
    <th scope="col">Date to</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let company of companies">
    <th scope="row" width="7%">
      <button type="button" class="btn btn-info">
        <span class="fas fa-edit"></span>
      </button>
      <button type="button" class="btn btn-danger" (click)="delete(company)">
        <span class="fas fa-trash"></span>
      </button>
    </th>
    <th scope="row">{{company.id}}</th>
    <th scope="row">{{company.name}}</th>
    <th scope="row">{{company.bossSurname}}</th>
    <th scope="row">{{company.country}}</th>
    <th scope="row">{{company.city}}</th>
    <th scope="row">{{company.postCode}}</th>
    <th scope="row">{{company.preferredContactMethod}}</th>
    <th scope="row">{{company.contactNumber}}</th>
    <th scope="row">{{company.mail}}</th>
    <th scope="row">{{company.dateFrom}}</th>
    <th scope="row">{{company.dateTo}}</th>
  </tr>
  </tbody>
</table>

<ng-template #addModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new company</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="form-group" [formGroup]="form" (ngSubmit)="onSubmit(form.value, modal)">
    <div class="modal-body">
      <div>
        <label for="name">
          Name
        </label>
        <div *ngIf="submitted && form.controls.name.errors" class="top-invalid">
          <div *ngIf="form.controls.name.errors.required">Name is required</div>
          <div *ngIf="form.controls.name.errors.minlength">Minimum length is 3</div>
        </div>
        <input class="form-control" id="name" type="text" formControlName="name" autofocus [ngClass]="{ 'is-invalid': submitted && form.controls.name.errors }">
      </div>
      <div>
        <label for="bossName">
          Boss Name
        </label>
        <div *ngIf="submitted && form.controls.bossName.errors" class="top-invalid">
          <div *ngIf="form.controls.bossName.errors.required">Boss Name is required</div>
          <div *ngIf="form.controls.bossName.errors.minlength">Minimum length is 3</div>
          <div *ngIf="form.controls.bossName.errors.pattern">Insert correct name (Only letters)</div>
        </div>
        <input class="form-control" id="bossName" type="text" formControlName="bossName" [ngClass]="{ 'is-invalid': submitted && form.controls.bossName.errors }">
      </div>
      <div>
        <label for="bossSecondName">
          Boss Second Name
        </label>
        <div *ngIf="submitted && form.controls.bossSecondName.errors" class="top-invalid">
          <div *ngIf="form.controls.bossSecondName.errors.minlength">Minimum length is 3</div>
          <div *ngIf="form.controls.bossSecondName.errors.pattern">Insert correct name (Only letters)</div>
        </div>
        <input class="form-control" id="bossSecondName" type="text" formControlName="bossSecondName" [ngClass]="{ 'is-invalid': submitted && form.controls.bossSecondName.errors }">
      </div>
      <div>
        <label for="bossSurname">
          Boss Surname
        </label>
        <div *ngIf="submitted && form.controls.bossSurname.errors" class="top-invalid">
          <div *ngIf="form.controls.bossSurname.errors.required">Boss Surname is required</div>
          <div *ngIf="form.controls.bossSurname.errors.minlength">Minimum length is 3</div>
          <div *ngIf="form.controls.bossSurname.errors.pattern">Insert correct Surname (Letters and '-')</div>
        </div>
        <input class="form-control" id="bossSurname" type="text" formControlName="bossSurname" [ngClass]="{ 'is-invalid': submitted && form.controls.bossSurname.errors }">
      </div>
      <div>
        <label for="country">
          Country
        </label>
        <div *ngIf="submitted && form.controls.country.errors" class="top-invalid">
          <div *ngIf="form.controls.country.errors.required">Country is required</div>
          <div *ngIf="form.controls.country.errors.minlength">Minimum length is 3</div>
        </div>
        <input class="form-control" id="country" type="text" formControlName="country" [ngClass]="{ 'is-invalid': submitted && form.controls.country.errors }">
      </div>
      <div>
        <label for="city">
          City
        </label>
        <input class="form-control" id="city" type="text" formControlName="city">
      </div>
      <div>
        <label for="postCode">
          Post Code
        </label>
        <input class="form-control" id="postCode" type="text" formControlName="postCode">
      </div>
      <div>
        <label>
        Prefer contact form
        </label>
        <div *ngIf="submitted && form.controls.preferredContactMethod.errors" class="top-invalid">
          <div *ngIf="form.controls.preferredContactMethod.errors.required">Preferred Contact Method is required</div>
        </div>
        <select class="browser-default custom-select" formControlName="preferredContactMethod" [ngClass]="{ 'is-invalid': submitted && form.controls.preferredContactMethod.errors }">
          <option *ngFor="let contactMethod of contactMethods" [value]="contactMethod">
            {{convertEnumToString(contactMethod) | titlecase}}
          </option>
        </select>
      </div>
      <div>
        <label for="contactNumber">
          Contact number
        </label>
        <div *ngIf="submitted && form.controls.contactNumber.errors" class="top-invalid">
          <div *ngIf="form.controls.contactNumber.errors.pattern">Insert number in format 'XXX XXX XXX'</div>
        </div>
        <input class="form-control" id="contactNumber" type="text" formControlName="contactNumber" [ngClass]="{ 'is-invalid': submitted && form.controls.contactNumber.errors }">
      </div>
      <div>
        <label for="email">
          Mail
        </label>
        <div *ngIf="submitted && form.controls.mail.errors" class="top-invalid">
          <div *ngIf="form.controls.mail.errors.email">Insert correct email</div>
        </div>
        <input class="form-control" id="email" type="email" formControlName="mail" [ngClass]="{ 'is-invalid': submitted && form.controls.mail.errors}">
      </div>
      <div>
        <label for="dateFrom">
          Date From
        </label>
        <div *ngIf="submitted && form.controls.dateFrom.errors" class="top-invalid">
          <div *ngIf="form.controls.dateFrom.errors.required">Date From is required</div>
          <!--<div *ngIf="!dateIsValid">Date From cannot be higher than Date To</div>-->
        </div>
        <!--<div *ngIf="error.isError" class="alert alert-danger">-->
          <!--{{ error.errorMessage }}-->
        <!--</div>-->
        <div *ngIf="form.hasError('dateValidation')" class="top-invalid">
          Date From cannot be higher than Date To
        </div>
        <form class="form-inline">
          <div class="form-group" [formGroup]="form" style="width:55%">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-MM-dd" id="dateFrom" formControlName="dateFrom" [ngClass]="{ 'is-invalid': (submitted && form.controls.dateFrom.errors) || form.hasError('dateValidation')}"
                     name="dp" ngbDatepicker #dateFrom="ngbDatepicker" (blur)="compareTwoDates()">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar far fa-calendar-alt" (click)="dateFrom.toggle()" type="button"></button>
              </div>
              <!--<div *ngIf="submitted && form.controls.dateFrom.errors" class="invalid-feedback">-->
                <!--<div *ngIf="form.get('dateFrom').hasError('validationsPeriod')">Date From cannot be higher than Date To</div>-->
              <!--</div>-->
            </div>
          </div>
        </form>
      </div>
      <div>
        <label for="dateTo">
          Date To
        </label>
        <div *ngIf="submitted && form.controls.dateTo.errors" class="top-invalid">
          <div *ngIf="form.controls.dateTo.errors.required">Date To is required</div>
        </div>
        <form class="form-inline">
          <div class="form-group" style="width:55%">
            <div class="input-group" [formGroup]="form">
              <input class="form-control" placeholder="yyyy-MM-dd" id="dateTo" formControlName="dateTo" [ngClass]="{ 'is-invalid': (submitted && form.controls.dateTo.errors) || form.hasError('dateValidation') }"
                     name="dp" ngbDatepicker #dateTo="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar far fa-calendar-alt" (click)="dateTo.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="closeModal(modal)">Close</button>
      <button type="submit" class="btn btn-primary" [disabled]="submitted && form.invalid">Save</button>
    </div>
  </form>
</ng-template>
