<h2>Alcohol list</h2>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Image</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let alcohol of alcohols">
    <th scope="row">{{alcohol.id}}</th>
    <th scope="row">{{alcohol.name}}</th>
    <th scope="row">{{alcohol.description}}</th>
    <th scope="row">{{alcohol.image}}</th>
  </tr>
  </tbody>
</table>

<form class="form-group" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

  <div>
    <label for="name">
      Name
    </label>
    <input class="form-control w-25" id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="description">
      Description
    </label>
    <textarea rows="5" cols="10" class="form-control w-25" id="description" type="text" formControlName="description"></textarea>
  </div>

  <div>
    <label for="image">
      Image
    </label>
    <input class="form-control w-25" id="image" formControlName="image" type="file" accept="image/*">
  </div>

  <button class="btn btn-primary" type="submit" >Save</button>
</form>

<button type="button" class="close" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
