<div style="text-align:center">
  <h2>
    Welcome to AlShop!
  </h2>
</div>

<div class="img-responsive center-block text-center">
  <img src="assets/alcohol/alco.jpg" alt="alco1" class="img-fluid col-md-5">
</div>
<div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus enim quam, dignissim sit amet magna ut, pulvinar
    tempus lorem.
    Phasellus aliquam diam ullamcorper facilisis ultrices. Donec ultrices, ipsum eget commodo sollicitudin, metus augue
    blandit velit,
    eget viverra mi odio vel nisi. Phasellus aliquet nibh et nisl luctus, consectetur placerat lacus rhoncus. Fusce ut
    elementum libero.
  </p>
  <p>Phasellus vel nunc quis mauris feugiat accumsan. Suspendisse quis odio quis magna cursus tincidunt.</p>
  <p>Suspendisse purus nisi, finibus ullamcorper posuere a, feugiat pulvinar erat. Donec dignissim fermentum ultrices.
    Integer tellus orci, congue eu volutpat non, pulvinar eu quam. Vivamus vel eros et purus molestie ultrices eget et
    felis. Quisque ac hendrerit turpis. Vivamus in elit sit amet elit condimentum finibus. Cras faucibus lobortis nibh
    quis bibendum. Fusce vel enim quam. Cras laoreet nisi id ligula ultrices dictum. Fusce nec augue interdum, tristique
    quam quis, tempus felis. Phasellus quis mollis lorem.</p>
  <p>Suspendisse purus nisi, finibus ullamcorper posuere a, feugiat pulvinar erat. Donec dignissim fermentum ultrices.
    Integer tellus orci, congue eu volutpat non, pulvinar eu quam. Vivamus vel eros et purus molestie ultrices eget et
    felis. Quisque ac hendrerit turpis. Vivamus in elit sit amet elit condimentum finibus. Cras faucibus lobortis nibh
    quis bibendum. Fusce vel enim quam. Cras laoreet nisi id ligula ultrices dictum. Fusce nec augue interdum, tristique
    quam quis, tempus felis. Phasellus quis mollis lorem.
    Praesent in mollis enim. Nunc sapien risus, accumsan id diam at, placerat gravida arcu. Phasellus felis elit,
    blandit ac eleifend vitae, rhoncus non dolor. Phasellus lacinia dolor lorem, non pellentesque ex mattis vitae. Nulla
    facilisi. Fusce sit amet ex vel dolor tempor pretium. Praesent risus nulla, sollicitudin non metus a, posuere
    vehicula risus. Pellentesque nec molestie ipsum, vel consequat metus. Nullam ornare sapien faucibus vulputate
    pharetra. Aliquam quis felis sagittis ipsum congue ullamcorper eget id purus. Curabitur hendrerit vehicula mauris
    vitae tristique. Vivamus molestie interdum risus, quis pulvinar magna facilisis quis. Nunc quis arcu ex. Duis a
    lorem auctor magna lobortis vehicula. Etiam auctor nulla ut augue tincidunt, et mattis dolor sodales.</p>
  <div>
    <div class="col-md-2 float-left">
      <img src="assets/alcohol/alco2.jpg" alt="alco2" class="img-thumbnail rounded float-left">
    </div>
    <div class="pull-left">
      <p>Donec dui urna, mattis sit amet purus ut, pharetra elementum elit. Pellentesque pretium risus eu nisl
        tincidunt,
        a placerat sapien iaculis. Nulla euismod nulla enim, nec lobortis purus gravida nec. Donec non leo non lectus
        mattis suscipit. Morbi nulla neque, volutpat fringilla turpis at, ultrices iaculis eros. Donec ullamcorper magna
        tortor, sit amet posuere eros porttitor eu. Curabitur eleifend lacus a purus consequat pharetra. Vestibulum
        molestie dui fermentum, tempus nibh eu, bibendum ante. Quisque lacinia elementum rutrum.
      </p>
      <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur sem
        tellus, tempor sed felis ut, rutrum mollis tellus. Nunc dapibus velit id lobortis hendrerit. Nunc est sapien,
        sodales eget nibh vel, condimentum feugiat nunc. In quis justo ut metus rhoncus lacinia. Nulla odio ligula,
        vulputate sed erat ac, ultricies aliquam nisl. Cras eu lacus sed sem euismod luctus nec vel nunc. Nunc justo
        dolor, ultrices eu turpis quis, condimentum euismod libero.
      </p>
    </div>
  </div>


  <div>
    <div class="pull-left">
      <p>Donec dui urna, mattis sit amet purus ut, pharetra elementum elit. Pellentesque pretium risus eu nisl
        tincidunt, a
        placerat sapien iaculis. Nulla euismod nulla enim, nec lobortis purus gravida nec. Donec non leo non lectus
        mattis
        suscipit. Morbi nulla neque, volutpat fringilla turpis at, ultrices iaculis eros. Donec ullamcorper magna
        tortor,
        sit amet posuere eros porttitor eu. Curabitur eleifend lacus a purus consequat pharetra. Vestibulum molestie dui
        fermentum, tempus nibh eu, bibendum ante. Quisque lacinia elementum rutrum.

        Maecenas tortor ipsum, egestas nec enim ac, rhoncus congue leo. Etiam molestie dolor quis ornare elementum.
        Curabitur finibus quis risus vitae venenatis. Vivamus egestas elit ullamcorper dolor sagittis, vitae rutrum
        massa pretium. Morbi commodo congue scelerisque. In a ipsum condimentum massa feugiat viverra non at erat. Nunc
        ligula ex, sollicitudin nec neque sed, sollicitudin bibendum odio. Nulla scelerisque rutrum nisl eu rhoncus.
        Duis felis risus, interdum tincidunt rhoncus mollis, dictum eget turpis. Ut vitae ante vestibulum, ornare dolor
        vel, pretium augue. Suspendisse velit mi, feugiat quis leo eget, tristique tincidunt lorem. Vestibulum ante
        ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae
      </p>
      <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur sem
        tellus,
        tempor sed felis ut, rutrum mollis tellus. Nunc dapibus velit id lobortis hendrerit. Nunc est sapien, sodales
        eget
        nibh vel, condimentum feugiat nunc. In quis justo ut metus rhoncus lacinia. Nulla odio ligula, vulputate sed
        erat
        ac, ultricies aliquam nisl. Cras eu lacus sed sem euismod luctus nec vel nunc. Nunc justo dolor, ultrices eu
        turpis
        quis, condimentum euismod libero.
      </p>
    </div>
    <div class="col-md-3 float-right">
      <img src="assets/alcohol/alco3.jpg" alt="alco3" class="img-thumbnail rounded float-right">
    </div>
    <p>
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur sem
      tellus,
      tempor sed felis ut, rutrum mollis tellus. Nunc dapibus velit id lobortis hendrerit. Nunc est sapien, sodales eget
      nibh vel, condimentum feugiat nunc. In quis justo ut metus rhoncus lacinia. Nulla odio ligula, vulputate sed erat
      ac, ultricies aliquam nisl. Cras eu lacus sed sem euismod luctus nec vel nunc. Nunc justo dolor, ultrices eu
      turpis
      quis, condimentum euismod libero.
    </p>
    <p>
      Fusce condimentum, leo ut congue sagittis, eros erat luctus neque, in faucibus risus erat vitae nisl. Donec in
      interdum sem, quis volutpat lorem. Aenean pulvinar consectetur ex sit amet sodales. Morbi aliquet nulla sit amet
      lectus aliquet auctor. Duis lacinia hendrerit tellus, sit amet condimentum nibh imperdiet mattis. Praesent tempor
      ex id posuere dictum. Nullam a erat eu mi sagittis faucibus. Donec pulvinar interdum augue. Aenean ut turpis
      hendrerit, bibendum lorem vitae, mattis leo.

      Integer lectus erat, accumsan nec mauris eget, condimentum blandit quam. Duis eu felis lacus. Mauris placerat,
      sapien euismod efficitur fringilla, justo metus auctor felis, a venenatis elit augue quis enim. Duis egestas
      dictum nibh ultricies eleifend. Donec gravida commodo congue. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Sed nec lobortis quam. Aliquam risus nunc, tincidunt a porttitor in, elementum sed urna. Pellentesque ac
      massa odio. Suspendisse rhoncus, leo at varius porta, magna dui iaculis risus, at auctor magna lacus sed nunc.
      Quisque non nisl ex.
    </p>
    <p>
      Vestibulum rhoncus ante sed dui auctor dictum. Vivamus dignissim tortor id dictum vestibulum. In augue ligula,
      semper a urna id, mattis pulvinar arcu. Suspendisse nec orci quis nulla tristique feugiat ac ac dui. Maecenas
      blandit sed sapien eget venenatis. Nam at ultrices mi, vitae hendrerit augue. Proin iaculis porttitor tincidunt.
      Sed molestie fermentum efficitur. Nulla condimentum nibh eros, id maximus velit maximus in. Donec pretium ut purus
      quis fringilla. Pellentesque nec dolor feugiat, sollicitudin felis sit amet, dignissim urna. Vestibulum iaculis
      ultrices odio, sed faucibus odio porttitor at.
      In eget erat nunc. Phasellus ut justo ut dui elementum gravida id eu elit. Maecenas vel tortor ac est ultrices
      porttitor id a sem. Etiam sit amet felis ligula. Quisque in massa eu sem hendrerit tincidunt sit amet in enim.
      Vestibulum ac ultricies libero. Duis dictum dui id ligula aliquam, suscipit mollis ipsum placerat. In quis erat
      venenatis, tristique ante et, malesuada tortor. Vivamus gravida leo et libero ullamcorper, sit amet porta lacus
      dignissim. Nullam nec turpis est. Vestibulum pretium, arcu id fermentum rutrum, sapien tortor luctus urna, ac
      laoreet urna erat sit amet erat. Etiam ac erat a nunc pulvinar dapibus. Donec suscipit tempus orci. Duis dictum
      tortor nibh, nec scelerisque massa aliquam vitae. In tristique, quam ut pharetra porta, turpis felis venenatis
      enim, nec congue enim ex ac leo.

      In vehicula, nunc ut fermentum tincidunt, erat magna consectetur erat, a vestibulum arcu dui sit amet urna.
      Phasellus arcu neque, dictum nec leo nec, sollicitudin finibus ipsum. Aliquam sodales massa nisi, nec egestas
      velit molestie eu. Vivamus pulvinar tempus ligula. Fusce urna magna, maximus at risus vel, molestie viverra
      tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras at magna et tellus maximus gravida.
      Curabitur sollicitudin purus a vestibulum tincidunt. Ut ultricies nec mi a interdum. Sed dignissim, nulla at
      lacinia euismod, felis tortor dignissim sem, auctor placerat lorem risus sit amet ligula. Aliquam sed diam nec
      nisi tempor tempus accumsan ac nibh.
    </p>
  </div>

</div>
