<div style="text-align:center">
  <h2>
    Welcome to AlShop!
  </h2>
</div>

<div class="text-center">
  <img src="assets/alcohol/alco.jpg" alt="alco1" class="rounded">
</div>
<div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus enim quam, dignissim sit amet magna ut, pulvinar
    tempus lorem.
    Phasellus aliquam diam ullamcorper facilisis ultrices. Donec ultrices, ipsum eget commodo sollicitudin, metus augue
    blandit velit,
    eget viverra mi odio vel nisi. Phasellus aliquet nibh et nisl luctus, consectetur placerat lacus rhoncus. Fusce ut
    elementum libero.
  </p>


  <p>Phasellus vel nunc quis mauris feugiat accumsan. Suspendisse quis odio quis magna cursus tincidunt.</p>
  <p>Suspendisse purus nisi, finibus ullamcorper posuere a, feugiat pulvinar erat. Donec dignissim fermentum ultrices.
    Integer tellus orci, congue eu volutpat non, pulvinar eu quam. Vivamus vel eros et purus molestie ultrices eget et
    felis. Quisque ac hendrerit turpis. Vivamus in elit sit amet elit condimentum finibus. Cras faucibus lobortis nibh
    quis bibendum. Fusce vel enim quam. Cras laoreet nisi id ligula ultrices dictum. Fusce nec augue interdum, tristique
    quam quis, tempus felis. Phasellus quis mollis lorem.</p>
  <div class="col-md-2">
    <p>Phasellus vel nunc quis mauris feugiat accumsan. Suspendisse quis odio quis magna cursus tincidunt.</p>
    <img src="assets/alcohol/alco2.jpg" alt="alco2" class="img-thumbnail rounded float-left">

  </div>
</div>
